# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Build
build/
dist/

# Dependency directories
client/node_modules/
server/node_modules/

# Environment variables
# Environment variables
client/.env
server/.env
