# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# Build
build/
dist/

# Dependency directories
client/node_modules/
server/node_modules/


# Service account credentials
server/easynotes-435808-3139beee34c3.json

# Environment variables
# Environment variables
client/.env
server/.env
